<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODE TRANSLATOR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>MORSE CODE TRANSLATOR</h1>
    </div>
    <div class="container">

        <div class="input-div">
            <label for="inputText">INPUT</label>
            <input type="text" id="inputText" name="inputText" required placeholder="Write text here">
        </div>
        <div class="menu-div">
            <button id="translateButton">TRANSLATE</button>
        </div>
        <div class="output-div">
            <label for="output">OUTPUT</label>
            <input type="text" id="output" name="output" required placeholder="Translation will appear here" readonly>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>